.contacts {
    font-style: normal;
    min-width: 231px;
    margin-right: 70px;
  }

  .contacts__item {
    @include font(400, 14px, 1.71, 0.03em);

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .contacts__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--animation);
    
    &--white {
      color: var(--white);
    }
    
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  