.site-nav {
    display: flex;
    align-items: center;

    &__menu {
      display: flex;
      gap: 50px;
    }
  }
  
  .contact-nav {
    display: flex;
    margin-left: auto;
    gap: 50px;

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
  
  .site-nav__item,
  .contact-nav__item {
    @include font (500, 14px, 1.14, 0.02em);
   
  }
  .site-nav__link {
    padding: 32px 0;
    color: var(--main-title-color);
    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }

    &.current {
    position: relative;
    color: var(--accent-color);
  }

  }
  .contact-nav__link {
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  
  