footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-logo {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
.footer-box {
    display: flex;
    align-items: baseline;
  }
  
  .footer-subtitle {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  