.header {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid #ececec;
  }
  
  .header__wrap {
    display: flex;
    align-items: center;
  }

  .link.current::after {
    // content: '';
    // position: absolute;
    // display: block;
    @include pseudo;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .header__logo {
    margin-right: 93px;
  }