.header {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
   }
  
  .header__wrap {
    display: flex;
    align-items: center;
  }

  .header-logo {
    color: #000000;
    margin-right: 93px;
  }
  
  
  .link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
  }